.header{
    background-color:lightgrey;
    width: 100%;
    height: 700px;
    justify-content: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;

}
label{
    text-align:center;
    padding-left:15px;
    font-family:monospace;
    color:white;
    padding: 5px;
    font-weight:300;
    border:1px solid black;
    background-color:black;
    border-radius:3px;
}
.label1{
    margin-left: 30px;
}
#cashtype{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 400;
}
#cashtype:hover{
    font-size: 14px;
    background-color: dodgerblue;


}
.name{
    background-color: aliceblue;
    color: black;
    margin-left: 30px;
    border: none;
    font-size: 15px;
}
.name:hover{
    background-color: aquamarine;
    color:black;
    

}
label:hover{
    background-color:white;
    color:black;
    width:30%;
}
.box{
    background-color:grey;
    color:white;
}
.box2{
    background-color:dodgerblue;
    color:yellow;
    width:25%;
}
.names{
    color:white;
    background-color: none;
    border:none;
    margin-left: 30px;
}
.names:hover{

    background-color: none;
    border: none;
}
.Barcode{
    width:98%;
    height: 50px;
    border: 1px solid black;
}
fieldset{
    width: 98%;
    height: 40px;
}
.name2{
    background-color: blue;
    margin-left: 40px;

}
.name2:hover{
    background-color: gold;
    border:none;

}
hr{
    
    background-color:black;
}
.oneline{
    width: 40px;
    height: 15px;
    margin-top: 10px;
    padding:5px;
    display: inline;  
}
.text{
    width:20px;
    height:10px;
}
.content{
    width:95%;
    height:490px;
    background-color:white;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:13px;
}
p{
    background-color:red;
    width:99%;
    height:10px;
    color:white;
    padding: 6px;
    margin: 4px;
    align-items: center;
    word-spacing: 5px;
}
.blue{
    background-color: blue;
    height: 12px;
    width: 99%;
}
.leftline{
    border-left: 10px solid black;
    margin-bottom: 15px;
    height:250px;
    
}
.buttons{
    background-color: bisque;
    border: 1px solid black;
    padding-top: 10px;
    width: 99%;
    color: black;
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 2px;
}
#upperq{
    list-style: none;
    margin-top: 0;
    
}
#upperq li{
    display: inline;
    padding: 8px;
}
.right{
    color: red;
    margin-right: 105px;
    font-size: 18px;
}
#price{
    background-color: black;
    color:yellow;
    margin-left: 15px;
    padding-left: 70px;
    padding-top: 15px; 
    padding-right: 8px;  
}
.mainprice{
    float: right;
    background-color: black;
    color:yellow;
    padding-left: 70px;
    margin-right: 40px;
    padding-left: 220px;
    padding-top: 18px;
    font-size: 23px;
    margin-top: 0;   
}
.icons{
    margin-left:700px;
    border-radius: 5px;
    margin-bottom: 4px;
    padding-left:10px;
    padding: 5px;
    padding-right: 10px;
    padding-top: 15px;
    color:blue;
}
.icons2{
    color: red;
    padding-top: 15px;
    border-radius: 5px;
    padding-right: 10px;
}
.icons:hover{
    border: 1px solid black;
    background-color: aqua;
    color: red;

}
.icons2:hover{
    background-color:aquamarine;
    border: 1px solid black;
    color: blue;
}
footer{
    background-color:orange;
    color: white;
    margin-top: 15px;
    padding: 3px;
    text-align: center;
    word-spacing: 9px;
    font-size: 18px;
}
@media (min-width:600px){
    div{
    
        justify-content: center;
    }
}
